{% extends "base.html" %}

{% block rest_insp_list %}

<div id="estab_container">
    {% if estab %}
        <h2 id="estab_name_header">{{ estab.0.estab_id.name }}, {{ estab.0.estab_id.address}}</h2>
    {% endif %}

    <hr class="style-one">


    <div class="clear_floats"></div>

    {% if total_demerits > 0 %}
    <div id="estab_chart">
        <script type="text/javascript">
            var json =  [
                        {% for inspection in estab %}
                            {
                                "date": "{{ inspection.date }}",
                                "demerits": {{ inspection.demerits_nums }},
                                'inspection_key': "{{ inspection.inspection_key }}" 

                            }{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        ];

            var demerits_js = new Array;
            var dates_js = new Array();

            $.map(json, function(obj, i) {
                demerits_js.push({ y: parseInt(obj.demerits), inspection_key: obj.inspection_key });
                dates_js.push((obj.date));

            });

            $(function () {
                $('#estab_chart').highcharts({
                    chart: {
                        type: 'scatter'
                    },
                    title: {
                        text: 'Inspection Results',
                        style: {
                            fontFamily:'Sanchez, serif',
                            fontSize:"140%" 
                        }
                    },
                    subtitle: {
                        text: 'San Antonio Metropolitan Health District',
                        style: {
                            fontFamily:'Sanchez, serif',
                            fontSize: "130%" 
                        }
                    },
                    xAxis: {
                        categories: dates_js,
                        labels: {
                            style: {
                                fontFamily: 'Sanchez, serif'                            
                            }
                        }
                    },
                    yAxis: {
                        labels: {
                            align:'left',
                            x:0,
                            y:-2,
                            style: {
                                fontFamily: 'Sanchez, serif'
                            }
                        },
                        title: {
                            text: 'Demerits',
                            style: {
                                fontFamily: 'Sanchez, serif',
                                fontSize: "130%",
                                letterSpacing:'.5px'
                            }
                        },
                        min: 0
                    },
                    tooltip: {
                        enabled: true, 
                        formatter: function() {
                            return 'Demerits: ' + this.point.y + '<br>' + '<a href="http://localhost:8000/' + this.point.inspection_key + '/">Click for details.';
                        },
                        style: {
                            fontFamily: 'Sanchez, serif',
                        }
                    },
                    series: [{
                        showInLegend: false,
                        data: demerits_js,
                        animation: {
                            duration: 4000
                        },
                        marker: {
                            enabled: true,
                            symbol: 'circle',
                            radius: 9,
                            fillColor: '#AF0C10'
                        }
                    }]
                });
            });
        </script>

    </div>
    {% else %}
        <div id="no_estabs">
            <p>
                This establishment either has no inspections in the database or the demerit total for all inspections is 0. 
            </p>

        </div>
    {% endif %}

    <div id="inspection_exposi">
    <p id="hover_warning">Hover over each circle and click for detailed information on violations for each inspection date.</p>   
</div>
<div id="button_container">
    <div id="button">
        <a href="/" class="homelink">
            <p>
                HOME
            </p>
        </a>
    </div>
</div>
<div class="clear_floats"></div>
{% endblock %}