{% extends "base.html" %}

{% block insp_detail %}
{% if insp_details %}
<h2 id="estab_name_header"><a href="/{{ insp_details.0.estab_id_id }}/">{{ insp_details.0.estab_id.name }}, {{ insp_details.0.estab_id.address}}</a></h2>

<div class="inspection_container">
    <h4 id="inspection_detail_date">Inspection Date: {{ insp_details.0.inspection_key.date }}   </h4>

    <ul id="insp_details">
        {% for inspection in insp_details %}
            <li class="viol">{{ inspection.viol_text }}</li>
        {% endfor %}
    </ul>
{% endif %}    
</div>

<div id="button_container">
    <div id="button">
        <a href="/" class="homelink">
            <p>
                HOME
            </p>
        </a>
    </div>
</div>
<div class="clear_floats"></div>

{% endblock %}