container_commands:
  01_syncdb: 
    command: "source /opt/python/run/venv/bin/activate && python myproject/manage.py syncdb"
    leader_only: true
  02_initial_migration: 
    command: "source /opt/python/run/venv/bin/activate && python myproject/manage.py schemamigration insps --initial"
    leader_only: true
  03_migrate_app:
    command: "source /opt/python/run/venv/bin/activate && python myproject/manage.py migrate insps"
    leader_only: true
  04_create_su:
    command: "source /opt/python/run/venv/bin/activate && python myproject/manage.py createsu"
    leader_only: true
  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python myproject/manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "myproject.settings"
    "PYTHONPATH": "/opt/python/current/app/myproject:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: myproject/myproject/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

