{% extends "base.html" %}

{% block rest_insp_list %}

<div id="estab_container">

    <div id="inspection_exposi">
        <p class="text">this is a paragraph detailing the city's policy about how thye inspect restaurants. i'd write in here for example how they inspect restaurants more often when they're doing poorly and progressive less often as they get better.  i'm not sure what the threshold is.</p>  

        <p class="text">maybe i'll include an example or two about how a certain number of demerits might affect the inspection schedule for a specfic restaurant.  i'll write some more and then probably a little more and then boom. i'm done. </p>
    </div>
    {% if estab %}
        <div id="estab_summary_list">
            <ul>
                {% for inspection in estab %}
                    <li><a href="/insps/{{ inspection.inspection_key }}/">{{ inspection.estab_id.name }}</a> was inspected on {{ inspection.date }} with {{ inspection.demerits_nums }} demerit{{ inspection.demerits_nums|pluralize }}.</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="clear_floats"></div>

    <hr class="style-one">
    <div id="estab_chart">
        <script type="text/javascript">
        $(function () {
    $('#estab_chart').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Monthly Average Temperature'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});
        </script>

    </div>
</div>

{% endblock %}