{% extends "base.html" %}

{% block title %}
San Antonio Food Establishment Inspections Explorer
{% endblock %}

{% block estabsmapdiv %}
<div id="map"> </div>
{% endblock %}

{% block index_Data_Table %}
<script type="text/javascript" class="init">
    $(document).ready( function () {
        $('#latest_inspections_table').DataTable( {
            paging: true,
             "order": [[ 2, "desc" ]]

        } );
    } );
</script>
{% endblock %}

{% block index_table %}

<table id="latest_inspections_table" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Demerits</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
{% if latest_insps %}
        {% for insp in latest_insps %}
        <tr>
            <td><a href="/insps/{{ insp.estab_id.estab_id }}/">{{ insp.estab_id.name }}</a></td>
            <td>{{ insp.estab_id.address|upper }}</td>
            <td>{{ insp.demerits_nums }}</td>
            <td>{{ insp.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block estabsmap %}
<script type="text/javascript">
    var map = L.map('map', {scrollWheelZoom: false}).setView([29.4467297, -98.5094801], 10);
    var layer = new L.StamenTileLayer("toner-lite");

    map.addLayer(layer);

    var data = {
        "type": "FeatureCollection",
        "features": [
        {% for insp in latest_insps %}
            {
                "type": "Feature",
                "properties": {
                    "rest_name": "{{ insp.estab_id.name }}",
                    "address": "{{ insp.estab_id.address }}",
                    "demerits": {{ insp.demerits_nums }},
                    "estab_id": "{{ insp.estab_id.estab_id }}",
                    "date": "{{ insp.date }}"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [{{ insp.estab_id.longitude }}, {{ insp.estab_id.latitude }}]
                }
            }{% if not loop.last %}, {% endif %}
            {% endfor %}
        ]
    };

    console.log(data);

    var geojsonMarkerOptions = {
        radius: 7,
        fillColor: "#ff6600",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };

    var dataLayer = L.geoJson(data, {
        pointToLayer: function(feature, latlng) {
            return L.circleMarker(latlng, geojsonMarkerOptions);
        },
        onEachFeature: function(feature, layer){
            layer.bindPopup(
                '<a href="' + feature.properties.estab_id + '/">' +
                    feature.properties.rest_name + '</a>' + '<br />' +
                    'Inspection Date: ' + feature.properties.date + '<br />' +
                    'Demerits: ' + feature.properties.demerits
                );
        }
    })

    map.addLayer(dataLayer);
</script>
{% endblock %}

