{% extends "base.html" %}

{% block title %}
San Antonio Food Establishment Inspections Explorer
{% endblock %}

{% block index_Data_Table %}
<script type="text/javascript" class="init">
    $(document).ready( function () {
        $('#latest_inspections_table').DataTable( {
            paging: true,
             "order": [[ 2, "desc" ]]

        } );
    } );
</script>
{% endblock %}

{% block index_table %}

<table id="latest_inspections_table" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Demerits</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
{% if latest_insps %}
        {% for insp in latest_insps %}
        <tr>
            <td><a href="/insps/{{ insp.estab_id.estab_id }}/">{{ insp.estab_id.name }}</a></td>
            <td>{{ insp.estab_id.address|upper }}</td>
            <td>{{ insp.demerits_nums }}</td>
            <td>{{ insp.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
