<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "insps/css/style.css" %}"
    <title>{% block title %}San Antonio Food Establishment Inspections Explorer{% endblock %}</title>
</head>

<body>
    <div class="iframe_header">
      <iframe target=_blank src="http://www.mysanantonio.com/?controllerName=cmfThirdPartyHeader" width="1030" height="310" scrolling="no" frameborder="0"></iframe>
    </div>

    <div>
        {% block index_table %}{% endblock %}
    </div>

    <div class="iframe_footer">
    
    <iframe src="http://www.mysanantonio.com/?controllerName=cmfThirdPartyFooter" width="1030" height="450" scrolling="no" frameborder="0"></iframe>
    </div>

</body>
</html>

