<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "insps/css/style.css" %}" />
    <link rel="stylesheet" href="{% static "insps/css/jquery.dataTables.css" %}" />
    <link rel="stylesheet" href="{% static "insps/css/leaflet.css" %}" />
    <script type="text/javascript" src="{% static "insps/js/jquery-1.11.1.min.js" %}"> </script>
    <script type="text/javascript" src="{% static "insps/js/jquery.dataTables.min.js" %}"> 
    </script>
    <script type="text/javascript" src="{% static "insps/js/highcharts.js" %}"> 
    </script>
    <script type="text/javascript" src="{% static "insps/js/leaflet.js" %}">
    </script>
    <!--<script type="text/javascript" src="{% static "insps/js/estabsmap.js" %}">
    </script>-->
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script> 
  
    {% block index_Data_Table %} {% endblock %} 
    
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="iframe_header">
      <iframe target=_blank src="http://www.mysanantonio.com/?controllerName=cmfThirdPartyHeader" width="1030" height="310" scrolling="no" frameborder="0"></iframe>
    </div>

    {% block estabsmapdiv %}{% endblock %}

   <form action="/insps/search/" method="post">{% csrf_token %}
        {{ search_form.as_p }}
        <input type="submit" value="Submit" />
   </form> 

   {% block search_results_returned %}{% endblock %}


    {% block index_table %}{% endblock %}
    
    {% block rest_insp_list %}{% endblock %}
    
    {% block insp_detail %}{% endblock %}
   

    <div class="iframe_footer">
        <iframe src="http://www.mysanantonio.com/?controllerName=cmfThirdPartyFooter" width="1030" height="450" scrolling="no" frameborder="0"></iframe>
    </div>

</body>
{% block estabsmap %}{% endblock %}
</html>

